<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <!-- Rally Settings -->
    <add key="RallyUsername" value="" />
    <add key="RallyPassword" value="" />

    <!-- TFS Settings -->
    <add key="TFSUsername" value="" />
    <add key="TFSPassword" value="" />
    <add key="TFSUrl" value="http://tfs.example.com:8080/tfs" />
    <add key="TFSChangesetUriFormat" value="{0}/VersionControl/Changeset.aspx?artifactMoniker={1}" />
    <add key="TFSChangeUriFormat" value="{0}/web/UI/Pages/Scc/ViewSource.aspx?path={1}&amp;changeset={2}" />
    <add key="TFSRepository" value="$/" />

    <!-- LDAP Settings -->
    <add key="LDAPAccountProperty" value="sAMAccountName" />
    <add key="LDAPEmailProperty" value="mail" />
    
  </appSettings>
</configuration>