<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <!-- Rally Settings -->
    <add key="RallyUsername"
         value="fred.flintstone@bedrock.com"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="RallyPassword"
         value="w1lm4"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />

    <!-- TFS Settings -->
    <add key="TFSUsername"
         value="bedrock\fred.flintstone"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="TFSPassword"
         value="w1lm4"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="TFSUrl"
         value="http://tfs.bedrock.com:8080/tfs"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="TFSRepository"
         value="$/BedRock/Mining"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />

    <!-- LDAP Settings -->
    <add key="LDAPAccountProperty"
         value="sAMAccountName"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="LDAPEmailProperty"
         value="mail"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />

  </appSettings>
</configuration>