<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <integrationProviders>
    <rally
      username="fred.flintstone@bedrock.com"
      password="w1lm4"
      project="1234567890"
      xdt:Transform="SetAttributes" />
    <tfs
      url="http://tfs.bedrock.com:8080/tfs"
      username="bedrock\fred.flintstone"
      password="w1lm4"
      repository="$/BedRock/Mining"
      xdt:Transform="SetAttributes" />
    <teamcity
      url="http://teamcity.bedrock.com:8080"
      username="fred.flintstone"
      password="w1lm4"
      xdt:Transform="SetAttributes" />
    <ldap
      accountProperty="sAMAccountName"
      emailProperty="mail"
      xdt:Transform="SetAttributes" />
  </integrationProviders>
</configuration>