<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="integrationProviders">
      <section name="rally" type="RallyIntegrator.Library.Config.RallyApiSection, RallyIntegrator.Library" />
      <section name="tfs" type="RallyIntegrator.Library.Config.TfsApiSection, RallyIntegrator.Library" />
      <section name="teamcity" type="RallyIntegrator.Library.Config.TeamCityApiSection, RallyIntegrator.Library" />
      <section name="ldap" type="RallyIntegrator.Library.Config.LdapSection, RallyIntegrator.Library" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <integrationProviders>
    <rally
      url="https://rally1.rallydev.com/slm/webservice/v2.0"
      username=""
      password=""
      project="1234567890"
      projectUriFormat="{0}/project/{1}" />
    <tfs
      url="http://tfs.example.com:8080/tfs"
      username=""
      password=""
      repository="$/"
      changeUriFormat="{0}/web/UI/Pages/Scc/ViewSource.aspx?path={1}&amp;changeset={2}"
      changesetUriFormat="{0}/VersionControl/Changeset.aspx?artifactMoniker={1}&amp;webView={2}" />
    <teamcity
      url="http://teamcity.example.com:8080"
      username=""
      password=""
      changeUriFormat="{0}/httpAuth/app/rest/changes?locator=version:{1}"
      changeBuildsUriFormat="{0}/httpAuth/app/rest/changes/id:{1}/firstBuilds"
      buildUriFormat="{0}/httpAuth/app/rest/builds/id:{1}"
      buildTypeUriFormat="{0}/httpAuth/app/rest/buildTypes/id:{1}" />
    <ldap
      accountProperty="sAMAccountName"
      emailProperty="mail" />
  </integrationProviders>
</configuration>