<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <!-- Rally Settings -->
    <add key="RallyUsername" value="" />
    <add key="RallyPassword" value="" />
    <add key="RallyProject" value="https://rally1.rallydev.com/slm/webservice/v2.0/project/1234567890" />

    <!-- TFS Settings -->
    <add key="TFSUsername" value="" />
    <add key="TFSPassword" value="" />
    <add key="TFSUrl" value="http://tfs.example.com:8080/tfs" />
    <add key="TFSChangesetUriFormat" value="{0}/VersionControl/Changeset.aspx?artifactMoniker={1}" />
    <add key="TFSChangeUriFormat" value="{0}/web/UI/Pages/Scc/ViewSource.aspx?path={1}&amp;changeset={2}" />
    <add key="TFSRepository" value="$/" />

    <!-- LDAP Settings -->
    <add key="LDAPAccountProperty" value="sAMAccountName" />
    <add key="LDAPEmailProperty" value="mail" />

    <!-- TeamCity Settings -->
    <add key="TeamCityUsername" value="" />
    <add key="TeamCityPassword" value="" />
    <add key="TeamCityUrl" value="http://teamcity.example.com:8080" />
    <add key="TeamCityChangeUriFormat" value="{0}/httpAuth/app/rest/changes?locator=version:{1}" />
    <add key="TeamCityBuildUriFormat" value="{0}/httpAuth/app/rest/builds/id:{1}" />
    <add key="TeamCityBuildTypeUriFormat" value="{0}/httpAuth/app/rest/buildTypes/id:{1}" />
    <add key="TeamCityChangeBuildsUriFormat" value="{0}/httpAuth/app/rest/changes/id:{1}/firstBuilds" />
    <!--<add key="TeamCityChangeBuildsUriFormat" value="{0}/viewModification.html?tab=vcsModificationBuilds&amp;modId={1}" />-->
    
  </appSettings>
</configuration>